@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
  overflow-x: hidden;
}

.container {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-size: 17px;
  color: white;
}

.shadow-align-tweak {
  width: calc(100% + 2px);
  margin-left: -1px;
}

.btn-warning {
  background-color: #ff2172 !important;
  border-color: #ff2172 !important;
  &:focus, &:active, &:active {
    background-color: #ff2172 !important;
    border-color: #ff2172 !important;
  }
}