.jobs {
  background: #fff; }
  .jobs .job {
    display: flex;
    background: #ededed;
    box-shadow: 0px 0px 1px 0px #686868;
    padding: 10px 0; }
    .jobs .job:nth-child(even) {
      background: #fff; }
    .jobs .job h1 {
      color: #000;
      margin: 20px 0; }
    .jobs .job .logo {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center; }
      .jobs .job .logo img {
        max-width: 150px;
        max-height: 100px; }
    .jobs .job .info {
      flex: 3; }
      .jobs .job .info .btn-default {
        float: right;
        margin-bottom: 10px;
        margin-right: 10px;
        color: #fff;
        font-size: 12px;
        background: #ff2172 !important; }
