.pagination {
	text-align: center;
	background: #383838;
	padding: 10px 0;
	margin: 0 auto;
	border-radius: 0;
	display: block;
	.page-count {
		width: 40px;
		color: #fff;
		padding: 0 15px;
		span {
			width: 20px;
		}
		img {
			width: 20px;
		}
	}
}